* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: white;
}

h1, h2, p, a {
    font-family: Arial, sans-serif;
}

body {
    background-color: #3C3D37;
}

header {
    background-color: #181C14;
}

h1 {
    font-size: 2.5em;
    text-align: center;
    padding: 16px;
}

h1::before {
    content: "Tema: ";
}

nav {
    background-color: #181C14;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    gap: 48px;
}

nav a {
    text-decoration: none;
    padding: 10px;
    user-select: none;
    cursor: pointer;
    transition: all 0.2s;
}

nav a:hover{
    color: grey;
}

nav a:active{
    color: blueviolet;
}

nav a:visited {
    background-color: blueviolet;
    color: #1100ff;
}

section {
    padding: 0 32px;
    height: 350px;
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 350px;
    column-gap: 32px;
}

.text {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

p {
    padding: 5px;
    text-align: justify;
}

p::first-letter {
    font-size: 2em;
    font-weight: 700;
}

p::selection, h1::selection, h2::selection{
    background-color: #a1a1a1;
    color: white;

    /* Nâo funcionou */
    /* text-decoration: underline; */
    /* text-decoration-color: green; */
    /* text-decoration-line: underline; */
}

.card img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    user-select: none;
}

footer{
    text-align: center;
    background-color: #181C14;
    padding: 16px 0;
}

@media (max-width: 480px) {
    nav {
        gap: 8px;
    }

    section {
        display: flex;
        flex-direction: column;
        margin-top: 32px;
        height: min-content;
        gap: 16px;
    }

    #media {
        flex-direction: column-reverse;
    }

    #alta .card {
        height: 300px;
    }
}
